
VKR.xcodeproj/project.xcworkspace/contents.xcworkspacedata

VKR.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

VKR.xcodeproj/project.xcworkspace/xcuserdata/herach.xcuserdatad/UserInterfaceState.xcuserstate

VKR.xcodeproj/xcuserdata/herach.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

VKR.xcodeproj/xcuserdata/herach.xcuserdatad/xcschemes/xcschememanagement.plist
